{% extends 'layout.html' %}

{% block content %}
<main class="login">
    <div class="form">
        <h1 class="login_header">{{ title }}</h1>
        <form method="POST" action="{{ handler_url_login }}">
             {{ form_login.csrf_token }}
            <div class="form-field">{{ form_login.username.label }} <br>{{ form_login.username }}
                {% if form_login.username.errors or username_error_message is not none %}
                    <ul class="errors">
                        {% if username_error_message is not none %}
                            <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">{{ form_login.password.label }} <br> {{ form_login.password }}
                {% if form_login.password.errors or password_error_message is none %}
                    <ul class="errors">
                        {% for error in form_login.password.errors %}
                            {% if password_error_message is not none %}
                        <li><strong>{{ error }}</strong></li>
                            {% endif %}
                        {% endfor %}
                        <br>
                    </ul>
                {% endif %}
            </div>
            {% if form_login.confirm %}
            <div class="form-field">{{ form_login.confirm.label }} <br> {{ form_login.confirm }}
            </div>
            {% endif %}
            {{ form_login.submit }}
        </form>
    </div>
</main>
{% endblock %}