<nav class="nav_bar">
  <ul class="nav">
    <li class="nav_item"><a href="{{ url_for('home_bp.home') }}">Home</a></li>
    <li class="nav_dropdown">
      <button class="nav_dropbtn">Browse</button>
      <div class="nav_dropdown_content">
        <a href="{{url_for('movies_bp.movies_by_release_year')}}">Browse by release year</a>
        <a href="{{url_for('movies_bp.suggest_movie')}}">Suggest movies for me</a>
      </div>
    </li>
    {% if 'username' in session %}
    <li class="nav_item"><a href="{{ url_for('authentication_bp.logout') }}">Logout</a></li>
    {% else %}
      <li class="nav_item"><a href="{{ url_for('authentication_bp.login') }}">Login</a></li>
      <li class="nav_item"><a href="{{ url_for('authentication_bp.register') }}">Register</a></li>
    {% endif %}
    <li class="user">
      {% if 'username' in session %}
        {{ session['username'] }}
      {% else %}
        Guest
      {% endif %}
    </li>
  </ul>
</nav>


