
<aside class="sidebar">
    <h1 class="sidebar_heading">Search</h1>
    <br>
    <form action="{{handler_url_title}}" method="post">
        {{ title_form.csrf_token }}
        <div class="sidebar_content">
            {{ title_form.title.label}}
            <br>
            {{ title_form.title}}
        </div>
        {{ title_form.search}}
    <br>
    </form>
    <form action="{{handler_url}}" method="post">
        {{form.csrf_token}}
        <div class="sidebar_content">
            {{form.actor.label}}
            <br>
            {{form.actor}}
        </div>
        {{form.search}}
        <div class="sidebar_content">
            {{form.director.label}}
            <br>
            {{form.director}}
        </div>
        {{form.search}}
    </form>

    <div class="sidebar_content">Search by genre</div>
    <div class="genre">
        {% for key in genre_urls %}
            <a href="{{ genre_urls[key] }}">{{ key }}</a>
        {% endfor %}
    </div>
    </form>
</aside>


